<template name="signIn">
  <div class="row sign-up">
    <h2>Sign-In</h2>
    <form class="col s12 l6 offset-l3" id="sign-in-form" action="action">
      <div class="row">
        <div class="input-field col s12">
          <input type="email" id="login-email" class="validate"/>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="password" id="login-password" />
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <input type="submit" id="login-button" value="Sign in" class="waves-effect waves-light btn" />
      </div>
    </form>
  </div>
</template>
