<template name="buyerLanding">
  <section class="buyer feed">
    <h1>The Feed...(get it?!)</h1>

    <section class="shout">
      <input type="text" placeholder="Got something to say?">
      <button>Shout!</button>
    </section>

    <article>
      <p>Bacon ipsum dolor amet venison jerky picanha landjaeger strip steak leberkas pancetta chicken swine biltong sirloin. Tri-tip venison cow ribeye pig, tail t-bone.</p>
      <img src="http://lorempixel.com/400/200/food">
    </article>

    <article>
      <p>Tongue pig turducken, sausage jerky tri-tip kielbasa meatball corned beef jowl sirloin alcatra. Jowl strip steak frankfurter flank pork loin kevin t-bone chuck biltong meatball porchetta beef short loin.</p>
      <img src="http://lorempixel.com/400/200/food">
    </article>

    <article>
      <p>T-bone prosciutto jerky landjaeger. Meatball strip steak andouille capicola venison beef ribs landjaeger leberkas meatloaf ribeye fatback biltong kielbasa pork chop.</p>
      <img src="http://lorempixel.com/400/200/food">
    </article>

    <article>
      <p>Ribeye filet mignon tri-tip boudin bacon short loin brisket, porchetta shoulder biltong t-bone cupim beef hamburger.</p>
      <img src="http://lorempixel.com/400/200/food">
    </article>

    <article>
      <p>Venison sausage turkey, drumstick chicken tail tenderloin. Prosciutto cupim spare ribs strip steak ball tip short loin corned beef brisket shoulder flank pastrami.</p>
      <img src="http://lorempixel.com/400/200/food">
    </article>
  </section>

  <article class="buyer public profile">
    My name is Vik. I live in Quarryville, PA. I like strawberries, cucumbers, carrots and iceberg lettuce. Strip steak ribeye tail, porchetta ball tip cow biltong turkey meatloaf frankfurter sausage. Pork loin chicken short loin ribeye pork belly brisket jerky ground round tri-tip, ham cupim. Leberkas ground round strip steak frankfurter alcatra meatball ham hock.
  </article>
</template>
