<template name="stand">
    <div id="market-map">
        <!-- place the map here -->
    </div>










    <article>
        <header>
            <h1 class="page-title">Stand Name</h1>

            <div class="stand-rating">
                * * * * *
            </div>
        </header>

        <img class="profile" alt="" src=""/>

        <section class="profile-meta">
            <p>Stand Owner</p>
            <p>Stand Address</p>
            <p>Stand Hours</p>
        </section>

        <section class="inventory-sort">
            <select id="" name="">
                <option value="">Type</option>
                <option value="">Fruit</option>
                <option value="">Veggie</option>
            </select>

            <select id="" name="">
                <option value="">Quality</option>
                <option value="">Freshness</option>
                <option value="">Likes</option>
            </select>

            <input name="" type="text" value="Search"/>
        </section>

        <section class="inventory">
            <article>
                <img alt="" src=""/>
                <h2>Asparagus</h2>
                <p></p>
            </article>

            <article>
                <img alt="" src=""/>
                <h2>Squash</h2>
                <p></p>
            </article>

            <article>
                <img alt="" src=""/>
                <h2>Peaches</h2>
                <p></p>
            </article>

            <article>
                <img alt="" src=""/>
                <h2>Cucumbers</h2>
                <p></p>
            </article>

            <article>
                <img alt="" src=""/>
                <h2>Raspberries</h2>
                <p></p>
            </article>
        </section>
    </article>
</template>
